<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>242177661490-26o0k2riaias8n2gg1rp6gepoq5e3gfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.242177661490-26o0k2riaias8n2gg1rp6gepoq5e3gfm</string>
	<key>API_KEY</key>
	<string>AIzaSyCjGtykLGa8Eq-hmuMO7vfsNMNkppYBOc0</string>
	<key>GCM_SENDER_ID</key>
	<string>242177661490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.unihack</string>
	<key>PROJECT_ID</key>
	<string>usecasepointtool</string>
	<key>STORAGE_BUCKET</key>
	<string>usecasepointtool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242177661490:ios:85855614f96ad3ea1bfa2b</string>
</dict>
</plist>